

 :root {
            --green: #ecfaec;
            --dark-green: #165766;


          }


body {
          background-color: var(--green);
        background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
        font: normal 16px/1.5 "Helvetica Neue", sans-serif;
        
        color: #fff;
        overflow-x: hidden;
        padding-bottom: 50px; 
       
      }

      .iitimage{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-bottom-left-radius:  1rem;
        border-bottom-right-radius:  1rem;
        border-bottom: 5px solid #bc0b69 ;
      }
      @media only screen and (max-width: 1200px) {
      .iitimage {
          /* width: 89%; */
      }
      }
      body {
        font-family: 'Sintony', sans-serif;
        color: #e5e5e5;
        font-size: 12px;
        background-color:var(--green);
        background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
        line-height: 1;
}
      
  *, *:before, *:after {
    box-sizing: border-box;
}
/** * Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header h2 {
  margin: 25px 10px;
font-size: 28px;
text-align: center;
color: cornsilk;
}
.container {
  margin: 10px auto;
  display: table;
  max-width: 1140px;
  width: 100%;
}
<!--  -->
nav.menu {
  background-color: var(--green);
  position: relative;
  min-height: 45px;
  height: 100%;
  text-align: center;
  
  box-shadow: 0 0.75rem 2rem 0 rgba(163, 158, 158, 0.801);
  
}

.menu > ul > li {
  list-style: none;
  display: inline-block;
  color: #d50868;
  line-height: 45px;
  
}
.menu > ul li a, .xs-menu li a {
  text-decoration: none;
  color: #d50868;
   display:block;
   padding: 0px 24px;
}
.menu > ul li a:hover {
  background:var(--dark-green);
  color: #fff;
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.active{
  background:var(--dark-green) !important;
  
}
.displaynone{
  display: none;
}
.xs-menu-cont{
display:none;
}
.xs-menu-cont > a {
    background: none repeat scroll 0 0 #f8f6f5;
    border-radius: 3px;
    padding: 3px 6px;
  display: block;
  border-bottom:1px solid #f8f6f5;
      box-shadow: 0 1px 2px #f8f6f5;
    -webkit-box-shadow: 0 1px 2px #f8f6f5;
    -moz-box-shadow: 0 1px 2px #f8f6f5;
}
.xs-menu-cont > a:hover{
 cursor: pointer;
}
  
.xs-menu li {
color: #d50868;
padding: 14px 30px;
border-bottom: 1px solid #fff;
background: #f8f6f5;

}
.xs-menu  a{
text-decoration:none;
}

.mega-menu {
   background: none repeat scroll 0 0 #fff;
    left: 0;
    margin-top: 3px;
    position: absolute;
    width: 100%;
  padding:15px;
  display:none;
   transition-duration: 0.9s;
   z-index: 999;
   box-shadow: 0 0.75rem 2rem 0 rgba(163, 158, 158, 0.801);
}
#menutoggle i {
    color:#d50868 ;
    font-size: 33px;
    margin: 0;
    padding: 0;
}


/*--column--*/
.mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before{
content:"";
display:table;
clear:both;


}
.mm-6column, .mm-3column {
 float: left;
 position: relative;
 }
.mm-6column {
    width: 35%;
}
.mm-3column {
        width: 25%;
}
.responsive-img {
    display: block;
    max-width: 100%;

}
.left-images{
margin-right:25px;
}
 .left-images, .left-categories-list {
   float: left;
}
.categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
}
.categories-list li :hover{
    background:inherit !important;
}
.left-images > p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
}
.categories-list span {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.display-on{
display:block;
 transition-duration: 0.9s;
}
.drop-down > a:after{
content:"\f103";
color:#fff;
font-family: FontAwesome;
font-style: normal;
margin-left: 5px;
 

}
 /*MediaQuerys*/
 @media (max-width: 200px) {
.menu {
 display:none;
 }
 .xs-menu li a {

   padding:0px;
}
 .xs-menu-cont{
 display:block ;
 }


 }


/*Animation--*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

body {
  margin: 0;
  padding: 20px;
  background-color: var(--green);
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}
#slider {
  overflow: hidden;
  max-width: 1120px;
  width: 100%;
  margin: auto;
  box-shadow: 0 0.75rem 2rem 0 rgba(163, 158, 158, 0.801);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: #dcdbdb;
 height: 650px;
}
#img-slider {
  position: relative;
  width: 500%;
  left: 0;
  animation: 20s slider infinite;
 
}
#img-slider img {
  width: 20%;
  float: left;
}
@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}

#img-slider:active {
  animation-play-state: paused;
}
.introo{
  background-color: var(--green);
  padding: 30px 0;
  display: flex;
  align-items: center;
  width: 92%;
  box-shadow: 0 0.75rem 2rem 0 rgba(163, 158, 158, 0.801);
  margin-left: auto;
  margin-right: auto;
  
  }
  
  
  
  .placement{
    width: 90%;
    max-width: 1200px;
    color: #bc0b69;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(236, 233, 235);
    font-size: 2rem;
  }
  @media only screen and (min-width: 400px) and (max-width: 768px) {
    .placement {
        width: 100%;
    }
  }


@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }
 #sliders {
  overflow: hidden;
  max-width: 1120px;
  width: 100%;
  margin: auto;
  box-shadow: 0 0.75rem 2rem 0 rgba(163, 158, 158, 0.801);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: #dcdbdb;
 height: 650px;
}
#img-sliders {
  position: relative;
  width: 500%;
  left: 0;
  animation: 20s slider infinite;
  
 
}
#img-sliders img {
  width: 20%;
  float: left;
}
@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}

#img-sliders:active {
  animation-play-state: paused;
}








.intro {
     background-color: var(--green);
  padding: 30px 0;
  display: flex;
align-items: center;
width: 92%;
box-shadow: 0 0.75rem 2rem 0 rgb(169, 166, 166);


margin-left: auto;
margin-right: auto;

  }
  
.containers {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  color: #bc0b69;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(236, 232, 232, 0.4);
  font-size: 2rem;
}

body{
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background-color: var(--green);
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

.timeline ul {
    background-color: var(--green);
    padding: 50px 0;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}
  
  .timeline ul li {
    
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #bc0b69;
  }
  
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #bc0b69;
  }
  
  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #bc0b69;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #bc0b69;
  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  
  
  .timeline ul li::after {
    transition: background 0.5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: #bc0b69;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
  
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #bc0b69 transparent transparent;
    }
  }
  
  
  
  .timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  
  .timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus ul li div::before {
    bottom: 12px;
  }
  
  .timeline-star ul li::after {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  
  .timeline-heptagon ul li::after {
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  
  .timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: translateX(-50%) scale(1);
    }
    50% {
      transform: translateX(-50%) scale(1.25);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }
.intros {
  background-color: var(--green);
  padding: 30px 0;
  display: flex;
align-items: center;
width: 92%;
box-shadow: 0 0.75rem 2rem 0 rgba(163, 158, 158, 0.801);


margin-left: auto;
margin-right: auto;

  }
  
.containerss {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  color: #bc0b69;
  text-align: center;
  
}
